services:
  app:
    build: . 
    container_name: bookstore_app
    ports:
      - "9010:9010" 
    depends_on:
      - db 
    environment:
      - DB_HOST=db 
      - DB_PORT=3306
    restart: on-failure

  db:
    image: mysql:8.0
    container_name: bookstore_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: simplerest
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: bookstore_pma
    links:
      - db
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
    ports:
      - "8080:80"
    depends_on:
      - db

volumes:
  db_data:
